################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InsertSamplesIntoMarkDown/v16
/bin
/obj
/Properties/PublishProfiles
/InsertSamplesIntoMarkDown.csproj.user
/.vs/InsertSamplesIntoMarkDown/v17/TestStore/0
/.vs/InsertSamplesIntoMarkDown/v17
/.vs/InsertSamplesIntoMarkDown/DesignTimeBuild
/.vs/InsertSamplesIntoMarkDown/FileContentIndex
/.vs/ProjectEvaluation
